<div class="page">
    <app-navbar (toggleSidebar)="menuOpened = !menuOpened"></app-navbar>

    <div class="page-body">
        <div class="page-menu" [class.opened]="menuOpened">
            <a routerLink="/films" class="page-menu-item">Films</a>
            <a routerLink="/films/add" class="page-menu-item" *ngIf="userService.loggedUser">Add Film</a>
            <a routerLink="/actors" class="page-menu-item">Actors</a>
            <a routerLink="/actors/add" class="page-menu-item" *ngIf="userService.loggedUser">Add Actor</a>
            <a routerLink="/genres" class="page-menu-item">Genres</a>
            <a routerLink="/genres/add" class="page-menu-item" *ngIf="userService.loggedUser">Add Genre</a>
        </div>
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <nav class="navbar navbar-dark justify-content-between page-footer">
        <span class="navbar-text">Footer</span>
    </nav>
</div>