<div><a routerLink="/dashboard">Dashboard</a></div>
<div><a routerLink="/films/add">Aggiungi film</a></div>
<div><a routerLink="/films/edit">Edita film</a></div>

<div>Cerca film: <input type="text" placeholder="cerca film" (input)="text = $event.target.value" (input)="search($event)"></div>


<div>
    <div *ngFor="let film of films | filmListFilter:text" (click)="film.showMore = !film.showMore">
        <div>
            <div>Titolo: {{film.title}}</div>
            <div>Indice di gradimento: {{film.stars}}

                <app-stars (voteChanged)="setVote(film, $event)" [vote]="film.stars"></app-stars>

            </div>
            <div>Durata: {{film.duration}}</div>
        </div>
        <div *ngIf="film.showMore">
            <div>Attori: {{getCastList(film.cast)}}</div>
            <div>Anno di uscita: {{film.releaseYear}}</div>
            <div>Genere: {{getGenreList(film.genres)}}</div>
            <div>Tags: {{film.tags}}</div>
        </div>
        <div>
            <button (click)="selectThisFilm(film)" routerLink="/films/edit">Modifica</button>
            <button (click)="remove(film)" ">Cancella</button>
        </div>
    </div>
</div>